<h1>Users index</h1>
<br>
Where are you?
<br>
<div class="clock" data-city="nyc" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %></a><br> <!-- 'data-city' => 'nyc' -->
<li>NY</li></div>
<div class="clock" data-city="london" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %><br>
<li>London</li></div>
<div class="clock" data-city="beijing" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %></a><br> 
<li>Beijing</li></div>
<div class="clock" data-city="sydney" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %></a><br> 
<li>Sydney</li></div>
<div class="clock" data-city="paris" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %></a><br> 
<li>Paris</li></div><br>
 

<div class="weather"></div>
<br>

<h3>News:</h3>

<div id="news-results"></div>

<br>

<br>

<h3>Photos:</h3>
<div id="flickr"></div>

