<!-- <div class="container"> -->
<%= render "layouts/clocks" %>  
<!-- <div class="grid"> -->

  <div class="col-md-1 weather-header" id="weather-anchor">
    <center><h4>Weather</h4></center>
    <ul class="weather"></ul>
  </div>

  <div class="col-md-9 divider dividerone">
  </div>

  <div class="col-md-5 news-header" id="news-anchor">
    <center><h4>Headline News</h4></center>
    <div id='news'>
      <ul id="news1" class="col-md-3"></ul>
      <ul id="news2" class="col-md-3"></ul>
    </div>
  </div>

  <div class="col-md-9 divider dividertwo">
  </div>

  <div class="col-md-4 photos-header" id="photos-anchor">
    <center><h4>Popular Photos</h4><button class="more-photos" data-flickr-num="1">More Photos</button></center>
    <center><ul id="flickr"></ul></center>
  </div>

  <div class="col-md-9 divider dividerthree">
  </div>

  <div class="col-md-6 twitter-header" id="tweets-anchor">
    <center><h4>Top Tweets</h4></center>
    <ul id="twitter"></ul>
  </div>

  <div class="col-md-9 divider dividerfour">
  </div>

  <div class="col-md-9 about">
    <center><h4>Created By</h4></center>
      <div class="contributors">
        <div class="contributor">
          <div id="ed">
          </div>
         <center> <p>Edward Warren</p></center>
         <center><a href="" target="_blank"><%= image_tag 'github.png', height: "25" %></a>
         <a href="" target="_blank"><%= image_tag 'linkedin.png', height: "25" %></a>
         <a href="" target="_blank"><%= image_tag 'twitter3.png', height: "30" %></a>
         </center>
        </div>

      <div class="contributor">
        <div id="amber">
        </div>
        <center><p>Amber Tunnell</p></center>
         <center><a target='_blank' href="https://github.com/ambertunnell"><%= image_tag 'github.png', height: "25" %></a>
         <a target='_blank' href="https://www.linkedin.com/in/ambertunnell/"><%= image_tag 'linkedin.png', height: "25" %></a>
         <a target='_blank' href="https://twitter.com/ambertunnell"><%= image_tag 'twitter3.png', height: "30" %></a>
         </center>
        </div>

      <div class="contributor">
        <div id="koren">
        </div>
        <center><p>Koren Leslie Cohen</p></center>
        <center><a href="http://github.com/KorenLeslieCohen" target="_blank"><%= image_tag 'github.png', height: "25" %></a>
        <a href="https://www.linkedin.com/profile/view?id=89988366&trk=nav_responsive_tab_profile"><%= image_tag 'linkedin.png', height: "25" %></a>
        <a href="http://twitter.com/korenlc"><%= image_tag 'twitter3.png', height: "30" %></a>
        </center>
      </div>

      <div class="contributor">
        <div id="ben">
        </div>
        <center> <p>Ben Serviss</p></center>
        <center><a href="" target="_blank"><%= image_tag 'github.png', height: "25" %></a>
        <a href="" target="_blank"><%= image_tag 'linkedin.png', height: "25" %></a>
        <a href="" target="_blank"><%= image_tag 'twitter3.png', height: "30" %></a>
        </center>
      </div>

    </div>
  </div>

