<!-- <div class="container"> -->
<%= render "layouts/clocks" %>  
<!-- <div class="grid"> -->

  <div class="col-md-1 weather-header" id="weather-anchor">
    <center><h4>Weather</h4></center>
    <ul class="weather"></ul>
  </div>

  <div class="col-md-9 divider dividerone">
  </div>

  <div class="col-md-5 news-header" id="news-anchor">
    <center><h4>Headline News</h4></center>
    <div id='news'>
      <ul id="news1" class="col-md-3"></ul>
      <ul id="news2" class="col-md-3"></ul>
    </div>
  </div>

  <div class="col-md-9 divider dividertwo">
  </div>

  <div class="col-md-4 photos-header" id="photos-anchor">
    <center><h4>Popular Photos</h4><button class="more-photos" data-flickr-num="1">More Photos</button></center>
    <center><ul id="flickr"></ul></center>
  </div>

  <div class="col-md-9 divider dividerthree">
  </div>

  <div class="col-md-6 twitter-header" id="tweets-anchor">
    <center><h4>Top Tweets</h4></center>
    <ul id="twitter"></ul>
  </div>

  <div class="col-md-9 divider dividerfour">
  </div>

  <div class="col-md-9 about" id="creators">
    <center><h4>Created By</h4></center>
      <div class="contributors">
        <div class="contributor">
          <div id="ed">
          </div>
         <center> <p>Edward Warren</p></center>
         <center><%= link_to image_tag('/assets/github.png', height: '25'), '#', target: '_blank' %>
          <%= link_to image_tag('linkedin.png', height: '25'), '#', target: '_blank' %>
          <%= link_to image_tag('twitter3.png', height: '25'), '#', target: '_blank' %>
        </center>
        </div>
      <div class="contributor">
        <div id="amber">
        </div>
        <center><p>Amber Tunnell</p></center>
         <center><%= link_to image_tag('/assets/github.png', height: '25'), 'https://github.com/ambertunnell/', target: '_blank' %>
          <%= link_to image_tag('linkedin.png', height: '25'), 'https://www.linkedin.com/in/ambertunnell/', target: '_blank' %>
          <%= link_to image_tag('twitter3.png', height: '25'), 'http://www.twitter.com/ambertunnell', target: '_blank' %>
        </center>
        </div>
      <div class="contributor">
        <div id="koren">
        </div>
        <center><p>Koren Leslie Cohen</p></center>
        <center><%= link_to image_tag('/assets/github.png', height: '25'), 'https://github.com/KorenLeslieCohen/', target: '_blank' %>
          <%= link_to image_tag('linkedin.png', height: '25'), 'https://www.linkedin.com/pub/koren-leslie-cohen/26/178/726', target: '_blank' %>
          <%= link_to image_tag('twitter3.png', height: '25'), 'http://www.twitter.com/korenlc', target: '_blank' %>
        </center>
      </div>
      <div class="contributor">
        <div id="ben">
        </div>
        <center> <p>Ben Serviss</p></center>
        <center><%= link_to image_tag('/assets/github.png', height: '25'), 'https://github.com/kamoh/', target: '_blank' %>
          <%= link_to image_tag('linkedin.png', height: '25'), 'http://www.linkedin.com/in/benserviss', target: '_blank' %>
          <%= link_to image_tag('twitter3.png', height: '25'), 'http://www.twitter.com/benserviss', target: '_blank' %>
        </center>
      </div>
      <br>
      <center><h5>worldview is built with...</h5></center>
    </div>
  </div>
<%#= render "layouts/footer" %>
<footer>
  <center><p>&copy; worldview 2014 | Built with &hearts; by Amber Tunnell, Koren Leslie Cohen, Ben Serviss &amp; Edward Warren</p></center>
</footer>  

