<div class="row">
<div class="clock col-md-2" data-city="nyc" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %><br> 
<h2>NY</h2></div>
<div class="clock col-md-2" data-city="london" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %><br>
<h2>London</h2></div>
<div class="clock col-md-2" data-city="beijing" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %><br> 
<h2>Beijing</h2></div>
<div class="clock col-md-2" data-city="sydney" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %><br> 
<h2>Sydney</h2></div>
<div class="clock col-md-2" data-city="paris" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %><br> 
<h2>Paris</h2></div>
</div>