<!DOCTYPE html>
<html>
<head>
  <title>worldview</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="keywords" content="Koren Leslie Cohen, Amber Tunnel, Edward Warren, Ben Serviss, The Flatiron School, world clocks, javascript, ajax, rails, curated media"/>
  <meta name="description" content="Web application utilizing Forecast.io, Twitter, Weather Underground, New York Times, and Flickr APIs to provide curated content from thousands of searchable cities around the world.">
</head>
<body id="scroll">
  <%= render "layouts/navbar" %> 
  <center>
    <%= yield %>
    <%= render "layouts/footer" %>
  </center> 
</body>
</html>